<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:insert="layouts/plantilla:: head">
</head>

<body id="page-top">



<div id="wrapper">
    <div class = "bg-gradient-primary" th:insert="layouts/plantilla:: sidebar"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:insert="layouts/plantilla:: navbar"></nav>
            <div>
                <div class="container-fluid">
                    <div>
                        <h1>Productos</h1>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/producto/nuevo}" class="pb-5">
                        <button class="btn btn-outline-success btn-lg">
                            <i class="fas fa-plus-circle"></i> Nuevo Producto</button>
                    </a></div>
                    <br>
                    <br>
                    <table class="table table-primary pt-5">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <!-- <th>Categoria</th> -->
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="producto : ${productos} ">
                            <td th:text="${producto.id}" class="table-light"></td>
                            <td th:text="${producto.nombre}" class="table-light"></td>
                            <td th:text="${producto.precio}" class="table-light"></td>
                            <td th:text="${producto.stock}" class="table-light"></td>
                            <!-- <td th:text="${producto.categoria.nombre}" class="table-light"></td> -->
                            <td sec:authorize="hasRole('ROLE_ADMIN')" class="table-light"><a th:href="@{'/producto/eliminar/'+${producto.id}}"><button class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer th:insert="layouts/plantilla:: footer"></footer>
    </div>
</div>




<div th:insert="layouts/plantilla:: endpage"></div>

<div th:insert="layouts/plantilla:: scripts"></div>

</body>

</html>