<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head th:insert="layouts/plantilla :: head"> </head>

<body id="page-top">
  <div id="wrapper">
    <div class = "bg-gradient-primary" th:insert="layouts/plantilla:: sidebar"></div>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <nav th:insert="layouts/plantilla :: navbar"></nav>
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header text-bg-primary">Detalles del Usuario</div>
                <div class="card-body">
                  <p class="card-text" th:text="'ID: ' + ${usuario.id}"></p>
                  <p class="card-text" th:text="'Email: ' + ${usuario.email}"></p>
                  <a th:href="@{/usuario/lista}" class="btn btn-outline-info">
                    <i class="fas fa-arrow-circle-left"></i> Volver
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <footer th:insert="layouts/plantilla :: footer"></footer>
    </div>
  </div>

  <div th:insert="layouts/plantilla :: endpage"></div>

  <div th:insert="layouts/plantilla :: scripts"></div>
</body>

</html>